langchain-openai
langchain_community
langchain_core
langchain
streamlit
python-dotenv
langchain-groq
pymupdf
faiss-cpu
langchain_chroma

chromadb==0.4.15
protobuf==3.20.3
grpcio-status==1.48.2
langchain_huggingface

pypdf
langchain-text-splitters

openai
pandas
